<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="bofaDBConnectionString" connectionString="Data Source=bofaserver.database.windows.net;Initial Catalog=bofaDB;User ID=bofa;Password=Mus123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>